/* CSS declarations go here */
.proyecto{
  width:360px;
}

body{
  padding:0px;
  background-color: #FFF;
}

img.bomb{
  width: 70px;
}

div.about{
  padding-top: 100px;
}

.about h1{
  font-size: 8em;
}

.tit h1{
  font-size:5em;
}

div.well{
  background-color: #EEE !important;
}

.about strong{
  color:#637a00 !important;
}

.proyClose{
  margin-top: -15px !important;
}

a{
  color:#637a00 !important;
}

a.logo{
  color:#FFF !important;
}

.no span{
  cursor:default !important;
}

.newProj >a:hover{
  color:#98978b !important;
}

.newProj >a{
  color:#FFFFFF !important;

}

.about p{
  font-size: 1.3em;
}

.minimum label{
  padding:12px;
  font-weight: normal !important;
}

.minimum input{
  width: 30%;
  float:right;
}

.linea{
  margin-bottom: 20px;
}
