/* CSS declarations go here */
.proyecto{
  width:360px;
}

body{
  padding:0px;
  background-color: #FFF;
}

img.bomb{
  width: 100px;
}

div.about{
  padding-top: 100px;
}

.about h1{
  font-size: 10em;
}

.tit h1{
  font-size:5em;
}

.well{
  background-color: #EEE;
}



.newProj a:hover{
  color:#98978b !important;
}

.newProj a{
  color:#FFFFFF !important;

}

.about p{
  font-size: 1.3em;
}

.minimum label{
  padding:12px;
  font-weight: normal !important;
}

.minimum input{
  width: 30%;
  float:right;
}

.linea{
  margin-bottom: 20px;
}
