.proyecto{
  width:360px;
}

body{
  padding:0px;
  background-color: #EEE;
}

img.bomb{
  width: 100px;
}

div.about{
  padding-top: 100px;

  /*position:relative;
  background-color: pink;
  width: 100%;
  width: 99.5vw;
  left:calc(-50vw + 50%);*/
}

.about h1{
  font-size: 10em;
}

.tit h1{
  font-size:5em;
}
